{% extends "layout.html" %}
    {% block content %}
            <section style="margin-top: 5em;" class="ask-ai-section section-padding" id="ask_ai_section">
                <div class="container">
                    <div class="row">

                        <div class="col-12 text-center">
                            <h2 class="mb-4">Ask AI Analyst</h2>
                        </div>

                        <div class="col-lg-6 col-md-8 col-12 mx-auto">
                            <div class="custom-block bg-white shadow-lg p-4">
                                <form action="http://127.0.0.1:5000/ask_llm" method="GET">
                                    <div class="mb-3">
                                        <label for="ask_ai_input" class="form-label">Enter your question</label>
                                        <input type="text" class="form-control" id="ask_ai_input" name="request_analyst" placeholder="Type your question here">
                                    </div>
                                    <button type="submit" class="btn custom-btn mt-3">Submit</button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
{% endblock %}
